$maxWidth: 1280
@mixin adaptiv-font($pcSize, $mobSize) 
    $addSize: $pcSize - $mobSize
    $maxWidth: $maxWidth - 320
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}))

.gotchies, .avatars, .features, .pvp, .team, .team, .sales, .partners
    h1
        @include adaptiv-font(48, 26)

    .container, .squared-container

            margin: 0 auto
            @media (min-width: 1400px)
                max-width: 1400px

            @media (min-width: 1300px) and (max-width: 1399px) 
                max-width: 1300px


            @media (min-width: 1200px) and (max-width: 1299px) 
                max-width: 1200px
    
            
            @media (min-width: 992px) and (max-width: 1199px) 
                max-width: 992px

            
            @media (min-width: 768px) and (max-width: 991px)
                max-width: 768px


            @media (min-width: 480px) and (max-width: 767px)
                max-width: 480px
    

            @media (min-width: 320px) and (max-width: 479px)
                max-width: 343px


            @media (max-width: 320px) 
                max-width: 320px
    
.housing, .adventures ,.roulette, .avatars, .video_title
    button
        box-shadow: 0px 0px 10.66px 2.34px rgba(0, 0, 0, 0.41)
        width: fit-content
        text-align: center
        min-width: 90px
        border-radius: 10px 
        white-space: nowrap
        outline: none
        padding: 0% 3% 0.5% 3%
        border: 0
        font-family: Gepestev
        @include adaptiv-font(24.5, 18)
        font-weight: bolder
        color: #fffeff
        cursor: pointer
    
        margin-right: 10px
        background-image: linear-gradient(to right, #f18e1a, #f11aad)
        transition: box-shadow 0.4s

    button:hover
        box-shadow: 0px 0px 10.66px 2.34px rgba(216, 216, 216, 0.41)

.video_title
    overflow: visible
    position: relative
    margin-top: 30%
    

    .parallax-sky
        left: -30%
        bottom: -30%
        position: absolute
        width: 70%
        max-width: 100%
        z-index: 0
        @media screen and (max-width: 600px)
            width: 80%

    .parallax-right-sky
        max-width: 100%
        right: -30%
        top: 35%
        position: absolute
        width: 60%    
        @media screen and (max-width: 633px)
            top: 80%
            right: -40%
            width: 80% 

    .container
        position: relative
        overflow: visible
        max-width: 80%
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        @media screen and (max-width: 800px)
            max-width: 90%

        .video_handler
            margin: 0 auto
            position: relative
            width: 80%
            max-width: 818px
            align-items: center
            @media screen and (max-width: 800px)
                width: 95%

            .handler
                display: block
                z-index: 10
                position: relative
                margin: 0 auto
                

            button
                position: absolute
                top: 48%
                left: 50%
                transform: translate(-50%, 50%)
                z-index: 11
                @include adaptiv-font(25, 16)
                @media screen and (max-width: 600px)
                    transform: translate(-50%, 20%)

            .left-fire
                width: 18%
                position: absolute
                left: 18.7%
                bottom: -8.5%
                z-index: 2

            .right-fire
                width: 18%
                position: absolute
                right: 18.7%
                bottom: -8.5%
                z-index: 2

        img
            max-width: 100%
  

        h2
            width: 90%
            font-family: Gepestev
            @include adaptiv-font(30, 25)
            font-weight: 900
            font-stretch: normal
            font-style: normal

            
            margin: 0px
            margin-bottom: 35px
            color: white
            text-align: center

        h3
            width: 69%
            margin: 0px
            margin-bottom: 40px
            font-family: Gepestev
            @include adaptiv-font(22, 16)
            font-weight: 500
            font-stretch: normal
            font-style: normal
            line-height: 1.39
            letter-spacing: normal
            text-align: center
            color: white
            @media screen and (max-width: 600px)
                width: 90%
    
.gotchies
    margin-top: 20%
   
    
    position: relative

    .gotchies_island1, .gotchies_island2

        position: absolute
        z-index: 1
        width: 50%
        height: 100%
        object-fit: cover
        display: inline-flex


        img
            margin: auto 0
            max-width: 100%

    
    .gotchies_island1
        img
            margin-left: auto
        left: 0
        transform: translateX(-50%)


    .gotchies_island2
        img
            margin-right: auto
        right: 0
        transform: translateX(50%)

    .container
        
        margin: 0 auto
        position: relative
        max-width: 1200px
        align-items: center

        // .gotchies_island1, .gotchies_island2
        //     position: absolute
        //     z-index: 1
        //     width: 50%
        //     height: auto

        // .gotchies_island1
        //     left: -50%

        // .gotchies_island2
        //     right: -50%

        .gotchies_smoke
            position: absolute
            top: 40%
            right: -50%
            width: 110%
            opacity: 0.65
            z-index: 0
            object-fit: cover
            img
                max-width: 100%

        h2
            margin: 0px
            margin-bottom: 45px
            font-family: Gepestev
            @include adaptiv-font(45, 32)
            font-weight: 900
            font-stretch: normal
            font-style: normal
            line-height: 1.39
            letter-spacing: normal
            text-align: center
            color: white

        .cards
            display: flex
            justify-content: center
            column-gap: 8%
            flex-wrap: wrap
            margin-right: 0px
            @media ( max-width: 800px)
                display: none
                

        .second_cards
            display: flex
            margin-top: 50px
            justify-content: center
            column-gap: 8%
            flex-wrap: wrap
            @media ( max-width: 800px)
                display: none

        .swiper_container
            display: none
            @media ( max-width: 800px)
                display: block

@keyframes pulse 
  from 
    transform: scale(.85)
  
  50% 
    transform: scale(1)
  
  to 
    transform: scale(.85)
  
.avatars
    position: relative
    margin-top: 10%
    
    .parallax-sky
        top: 15%
        left: -30%
        position: absolute
        width: 70%
        max-width: 100%
        // @media screen and (max-width: 600px)
        //     width: 80%

    .parallax-right-sky
        top: 35%
        max-width: 100%
        position: absolute
        width: 80%   

        @media screen and (max-width: 633px)
            top: 80%
            left: -40%
            width: 100% 
            opacity: 0.5 !important


    .container
        position: relative
        max-width: 1200px
        display: flex
        justify-content: space-around
        margin: 0 auto

        


        .screen_img
            height: 100%
            width: 35%
            display: flex
            flex-wrap: wrap
            margin: auto
            @media (max-width: 600px)
                flex-direction: column
                
        
            
            img
                max-width: 100%
                filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3))

            .last  
                display: inline-flex
                width: 100%
                img
                    margin: 0 auto
                    width: 40%
                    transition: 0.8s 

            .first, .second, .third, .fourth, .last
                transition: 0.8s 
            
            

            .first
                width: 50%
                margin-top: auto
                margin-left: auto
                @media (max-width: 600px)
                    margin-right: 30%
                    width: 80%
                    
            .second
                width: 45%
                margin-top: auto
                margin-right: auto
                @media (max-width: 600px)
                    

            .third
                width: 45%
                margin-bottom: auto
                margin-left: auto
                @media (max-width: 600px)
                    margin-right: 30%
                

            .fourth
                width: 38%
                margin-bottom: auto
                margin-right: auto
                @media (max-width: 600px)
              

            
                    

            @media (max-width: 600px)
                .last
                    img
                        margin-left: auto
                        width: 40%
                      

        .text           
            margin: auto 0
            padding-bottom: 10%
            width: 50%
            display: flex
            flex-direction: column
            justify-content: right
            text-align: right
            color: #fff
            height: fit-content
            padding-right: 5%
         




            h2
                font-family: Gepestev
                @include adaptiv-font(38, 32)
                font-weight: 900
                
            h3
                font-family: Gepestev
                @include adaptiv-font(20, 16)
                font-weight: 600
                margin: 0px 0 20px 0


            button
                margin-left: auto
                margin-right: 0
                // max-width: 200px
                // text-align: center
                // border-radius: 10px 
                // box-shadow: 0 0 3.4px 0.6px rgba(0, 0, 0, 0.41)
                // outline: none
                // border: 0
                // font-family: Akrobat
                // font-size: 18px
                // font-weight: 1100
                // font-stretch: normal
                // font-style: normal
                // vertical-align: top
                // line-height: 26px
                // letter-spacing: normal
                // color: #fffeff

                // padding: 0px 15px 26px 15px
                // height: 0px
                // background-image: linear-gradient(to right, #f11aad, #d46013)

.features
    position: relative
    margin-top: 10%
    .smoke
        position: absolute
        right: -20%
        top: 10%
        opacity: 0.25
        width: 80%

    .container
        max-width: 1200px
        margin: 0 auto
        align-items: center
        font-family: Gepestev
        text-align: center
        color: #fff

        h2
            @include adaptiv-font(38, 32)
            font-weight: 900

        .cards
            width: 100%
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            margin-top: 10%

            .card
                margin-top: 15px
                width: 25%
                padding: 0 30px

                .logo_img
                    width: 20%
                    margin: 0 auto
                    object-fit: cover

                    img
                        max-width: 100%
                
                h3
                    text-align: left
                    font-weight: 500
                    @include adaptiv-font(18, 16)

                h4

                    text-align: left
                    font-weight: 100
                    line-height: 1.3

        @media (max-width: 600px)
            h4
                display: none
            
            .card
                position: relative
                margin-bottom: 10% !important
                .logo_img
                    width: 25% !important
                    img
                        filter: drop-shadow(0px 0px 15px #000000)
                h3
                    width: 100%
                    
            h3
                position: relative
                margin: 0
                text-align: center !important
                margin: 5% 0 5% 0

            // h3::after
                
            //     content: ">"
            //     // transform: scale(0.65) translateY(-75%) rotate(-90deg) 
            //     color: white
            //     position: absolute
            //     top: 50%
            //     right: -10%
            //     transition: 200ms linear
            //     transform: translate(0, -50%)
          
.platform
    margin-top: 10%
    .container
        position: relative
        max-width: 1200px
        margin: 0 auto


        .parallax-right-sky
            top: 25%
            left: 10%
            max-width: 100%
            position: absolute
            width: 90%

            @media (max-width: 900px)
                top: 45%



        .content-area
            width: 100%
            display: flex
            align-items: end
            flex-direction: column

            .text-block
                width: 50%
                float: right
                h2
                    @include adaptiv-font(33, 25)
                    font-family: "Gepestev"
                    color: rgb(255, 255, 255)
                    font-weight: bold
                 
                    text-align: center
                h3
                    @include adaptiv-font(15, 14)
                    font-family: "Gepestev"
                    color: rgb(255, 255, 255)
                    font-weight: 100
                    text-align: center
                    line-height: 1.8

                @media (max-width: 600px)
                    width: 100%
                    margin: 0 auto
                    h2
                        width: 90%
                        margin: 0
                        margin-left: auto
                        margin-right: 5%
                        text-align: right
                    h3
                        width: 59.7%
                        margin-left: auto
                        margin-right: 5%
                        text-align: right
                        br 
                            display: none


            .dark-tips-area
                position: relative
                
                width: 100%
                display: flex
                flex-direction: column
                align-items: end
                background-color: rgba(0, 0, 0,0.2 )

                padding-top: 4%


                .island
                    position: absolute
                    width: 30%
                    height: 100%
                    left: 0
                    top: 0
                    display: inline-flex
                    img
                        max-width: 100%
                        margin: auto 0
                        transform: translateY(-53%)
                    @media (max-width: 600px)
                        width: 37%

                .first-tips-row,.second-tips-row
                    width: 50%
                    float: right
                    @media (max-width: 600px)
                        width: 85%
                        margin-left: auto
                        justify-content: end !important
                        margin-right: 5%

                .first-tips-row  
                    @media (max-width: 600px)

                        order: 2
                        .tip
                            img
                                order: 1
                            span
                                order: 2
                                margin: 0
                                margin-bottom: auto
                    img
                        padding-top: 5px

                    span
                        margin-top: auto

                    

                .second-tips-row 
                    @media (max-width: 600px)
                        order: 1
                        .tip
                            img
                                order: 2
                            span
                                order: 1
                                margin: 0
                                margin-top: auto
                        
                        
                        
                    img
                        padding-bottom: 5px
                    .onerow-span
                        margin-bottom: auto
                    


                .first-tips-row, .second-tips-row
                    display: flex
                    column-gap: 5%   
                    justify-content: center
                    
                    
                    .tip

                        display: flex
                        flex-direction: column
                        align-items: center
                        width: 20%
                        @media (max-width: 600px)
                            width: 25%

                        img
                            max-width: 100%

                        span
                            @include adaptiv-font(14, 11)
                            font-family: "Gepestev"
                            color: rgba(255, 255, 255, 0.541)
                            font-weight: bold
                            line-height: 1.167
                            text-align: center

.crafting
    .squared-container
        max-width: 1200px
        margin: 0 auto
        background-color: rgba(0, 0, 0,0.2 )
        padding-top: 5%
        position: relative
        padding-bottom: -10%

        @media screen and (max-width: 600px)
            padding-top: 10%
        
        clip-path: polygon(0.00% 0%,100% 0%, 100.00% 88.5%,0% 99%)
  
        .bot-border, .top-border
            max-width: 100%
            position: absolute
            z-index: 3

        .bot-border
            bottom: 0
            left: 0

            @media (min-width: 501px) and (max-width: 906px)
                width: 100%
                height: 20%


            @media (max-width: 500px)
                width: 100%
                height: 20%

        .top-border
            left: 0
            @media (max-width: 500px)
                width: 100%
                height: 15%
                transform: translateY(10%)

        .container
            align-items: center
            position: relative
            max-width: 1200px
            margin: 0 auto

            clip-path: polygon(0.00% 11.95%,100% 1.75%, 100.00% 85.9%,0% 96.1%)
            background-color: #8e4c83
            padding: 10px 0 20px 0
            z-index: 2
             


            h1
                text-align: center
                margin-top: 11%
                @include adaptiv-font(45, 28)
                font-family: "Gepestev"
                color: rgb(255, 255, 255)
                
                transform: rotate(-5deg)
                

                @media (max-width: 500px) and (min-width: 371px)
                    padding-top: 10%
                    transform: rotate(-8deg)

                @media screen and (max-width: 370px)
                    padding-top: 9%
                    transform: rotate(-7deg)

                @media screen and (max-width: 320px)
                    padding-top: 12%
                    transform: rotate(-10deg)


            .cards
                width: 90%
                display: flex
                justify-content: space-between
                margin: 0 auto
                padding-bottom: 15%

                @media (min-width: 501px) and (max-width: 607px)
                    padding-bottom: 25%

                @media (max-width: 500px)
                    flex-direction: column
                    row-gap: 25px
                    padding-bottom: 36%
                    padding-top: 3%

                    

            .card
                width: 25%

                @media (min-width: 501px) and (max-width: 906px)
                    width: 30%

                @media (max-width: 500px)
                    display: flex
                    width: 100%
                    

                .icon-handler
                    width: 100%
                    height: 40%
                    display: inline-flex
                    background: radial-gradient(ellipse at center,  rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.3) 49%,rgba(0, 0, 0, 0.3) 47%,rgba(1, 1, 1, 0) 47%,rgba(1, 1, 1, 0) 48%)
                    
                    @media (max-width: 500px)
                        width: 30%
                        margin: auto 0

                    img
                        display: inline-flex
                        max-width: 100%
                        margin: 0 auto
                        object-fit: contain
                        
                

        .text
            background-color: rgba(0, 0, 0, 0.3)
            border-radius: 10px
            clip-path: polygon(0.00% 0%,100% 0%, 100.00% 85.9%,0% 96.1%)

            @media (max-width: 500px)
                clip-path: none
                padding-left: 4%
                padding-right: 4%
                width: 70%
                margin-left: 5%

            h2
                font-family: "Gepestev"
                padding-top: 5%
                text-align: center
                color: #fff
                font-weight: 600

                @media (max-width: 500px)
                    padding-top: 3%
                    text-align: left
                    margin: 0
                    padding-bottom: 3%

            h3
                margin: 0 auto
                width: 70%
                letter-spacing: 0.7px
                @include adaptiv-font(16, 13)
                font-family: "Gepestev"
                color: rgb(255, 255, 255)
                text-align: left
                font-weight: 300


                @media (min-width: 501px) and (max-width: 906px)
                    width: 85%

                @media (max-width: 500px)
                    text-align: left
                    margin: 0 
                    width: 100%

        .first
            padding-bottom: 45%

            @media (min-width: 1441px)
                padding-bottom: 60%

            @media (min-width: 907px) and (max-width: 1024px)
                padding-bottom: 60%

            @media (min-width: 501px) and (max-width: 906px)
                padding-bottom: 55%

        .second
            padding-bottom: 29%

            @media (min-width: 501px) and (max-width: 906px)
                padding-bottom: 35%

        .thirst
            padding-bottom: 15%

            @media (min-width: 501px) and (max-width: 906px)
                padding-bottom: 20%

        .first, .second, .thirst
            @media (max-width: 500px)
                padding-bottom: 4%

.adventures
    h1
        text-align: center
        @include adaptiv-font(48, 23)
        font-family: "Gepestev"
        color: rgb(255, 255, 255)
        
    button
        @include adaptiv-font(24.5, 16)

    .right-area-mobile

        position: relative
        z-index: 20

        @media (min-width: 600px)
            display: none

        width: 80%
        margin: 0 auto
        text-align: center

        h3
                font-weight: 100
                @include adaptiv-font(18, 16)
                font-family: "Gepestev"
                color: #fff

    .container
        position:  relative
        max-width: 1200px
        margin: 0 auto
        height: 900px


        .right-area
            position: relative
            margin-left: auto
            width: 40%
            margin-right: 3%
            z-index: 50
            
            @media (max-width: 600px)
                display: none


            h3
                font-family: "Gepestev"
                font-weight: 300
                @include adaptiv-font(18, 12)
                z-index: 5002
                color: #fff
                span
                    color: orange

            button
                z-index: 5001
                
            

        .islands
            width: 100%
            height: 100%
            top: 0
            left: 0
            position: absolute
         
            img
                position: absolute
                max-width: 100%

            .island1
                z-index: 12
                width: 23%
                left: -1%
                top: 40%

            .island2
                z-index: 10
                width: 15%
                left: 20%
                top: 10%

            .island3
                z-index: 21
                top: 24%
                left: 50%
                width: 27%
                transform: translateX(-50%)

            .island4 
                z-index: 13
                width: 15% 
                right: 7% 
                top: 35% 


        .sky-images
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
    
            img
                position: absolute

            .right-sky
                z-index: 20
                max-width: 100%
                width: 58%
                right: 0
                top: 50%
                transform: translate(0, -40%)

            .right-sky-inversed
                z-index: 20
                max-width: 100%
                width: 58%
                right: 0
                top: 50%
                transform: translate(99.9999%, -40%) scaleX(-1)

            .left-sky
                z-index: 19
                max-width: 100%
                width: 45%
                left: 0
                top: 50%
                transform: translate(0, -20%)

            .left-sky-inversed
                z-index: 19
                max-width: 100%
                width: 45%
                left: 0
                top: 50%
                transform: translate(-100%, -20%) scaleX(-1)
            
            .right-down-sky
                z-index: 17
                max-width: 100%
                width: 60%
                right: 0
                top: 50%
                opacity: 0.5

            .top-sky
                z-index: 16
                max-width: 100%
                width: 60%
                right: 50%
                top: -10%
                opacity: 0.3
                transform: translate(45%, -15%) 

            .top-right-sky
                z-index: 15
                max-width: 100%
                width: 60%
                right: 0%
                top: 0%
                opacity: 0.3
                transform: translate(45%, 0%) rotate(-15deg)
            
            .top-left-sky
                z-index: 14
                max-width: 100%
                width: 60%
                left: 20%
                top: 5%
                opacity: 0.3
                transform: translate(-50%, 0%)
                filter: blur(8px)
            
            .left-deep-sky
                filter: blur(15px)
                z-index: 10
                max-width: 100%
                width: 55%
                left: 0
                top: 50%
                transform: translate(0, -70%)

            .left-deep-sky-inversed
                filter: blur(30px)
                z-index: 10
                max-width: 100%
                width: 55%
                left: 0
                top: 50%
                opacity: 0.9
                transform: translate(-100%, -70%) scaleX(-1)
            
            .bottom-shark-sky
                z-index: 9
                max-width: 100%
                width: 60%
                left: 5%
                bottom: 50%
                opacity: 1
                transform: translate(0, 90%)

            .bottom-shark-sky-inversed
                z-index: 9
                max-width: 100%
                width: 60%
                left: 5%
                bottom: 50%
                opacity: 1
                transform: translate(-100%, 90%) scaleX(-1)

            .top-casual-sky
                z-index: 8
                max-width: 100%
                width: 55%
                left: 0%
                top: 20%
                opacity: 1
                transform: translate(0, 0%)

.housing
    position: relative
    z-index: 10

    .container
        position: relative
        display: flex
        flex-direction: column
        align-items: center

        button
            z-index: 10
        h1
            text-align: center
            @include adaptiv-font(48, 23)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            
            font-weight: 900
            letter-spacing: 2px

        h3
            margin: 0 auto
            width: 80%
            letter-spacing: 0.7px
            @include adaptiv-font(18, 16)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            text-align: center
            font-weight: 300

            img
                display: inline-block
                margin: 0 auto
                max-width: 90%

  
        .rooms
            
            position: relative
            display: inline-flex
        
            width: 90%
            height: calc(100vw * 0.39)
            max-height: 700px
            max-width: 1440px
            margin-top: 3%
            margin-left: 9%

            .room1
                width: 30%
                position: absolute
                left: 0
                top: 0
                z-index: 1
                max-width: 40%
                filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.5))

            .room2
                width: 30%
                position: absolute
                z-index: 3
                left: 23%
                top: 20%
                filter: drop-shadow(0px 55px 60px rgba(0, 0, 0, 0.5))

            .room3
                width: 30%
                position: absolute
                left: 40%
                top: -3%
                z-index: 1
                filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.5))


            .room4
                width: 30%
                position: absolute
                left: 62%
                top: 15%
                z-index: 3
                filter: drop-shadow(0px 55px 60px rgba(0, 0, 0, 0.5))

       


    @media (max-width: 600px)
        h3
            width: 95% !important

.roulette
    position: relative
    margin-top: 10%

    .parallax-sky
        position: absolute
        width: 80%
        top: -20%
        left: -35%
        opacity: 0.4 !important


    .parallax-right-sky
        position: absolute
        width: 50%
        top: -20%
        left: 0%


    .container
        display: flex
        align-items: center
        max-width: 1400px
        margin: 0 auto
        position: relative

        .text-side
            padding-left: 5%
            width: 50%

        img
            width: 50%
            transform: translate(0%, -10%)

        h1
        
            @include adaptiv-font(48, 23)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            
            font-weight: 600
            margin-bottom: 8%

        h3
        
            width: 80%
            letter-spacing: 0.7px
            @include adaptiv-font(20, 16)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            text-align: left
            font-weight: 300
            margin-bottom: 5%

        button
            padding: 0% 2% 1% 2%
            margin: 0
            

        @media (max-width: 600px)
            .text-side
                width: 100%
                h1
                    width: 100%
                h3
                    width: 50%

            position: relative

            button
                padding: 0% 4% 1% 4%

            img
                position: absolute
                top: 50%
                right: 0%
                transform: translate(50%, -59%) rotate(-10deg) scale(2)
                filter: drop-shadow(-10px 10px 10px rgba(253, 253, 255, 0.3))

.pvp
    padding-top: 10%
    padding-bottom: 10%
    margin-top: 0
    @media screen and ( max-width: 600px  )
        padding-top: 24%
        
    .container
        display: flex
        flex-direction: column
        align-items: center
        
        align-items: center
        h1
                text-align: center
                @include adaptiv-font(48, 26)
                font-family: "Gepestev"
                color: rgb(255, 255, 255)
             
                font-weight: 600
                margin-bottom: 5%
        img
            max-width: 70%
            margin: 0 auto
    margin-top: 0    

.tokens
    .container
        width: 80%
        max-width: 1300px
        margin: 0 auto
        position: relative

        @media  (max-width: 769px)
            width: 95%

        h1, h2, h3 
            font-family: "Gepestev"
            text-align: center

        h1
            color: rgb(255, 255, 255)
            
            font-weight: bolder
            margin-top: 0
            @include adaptiv-font(48, 26)

        h2
            color: orange
            @include adaptiv-font(26, 20)

        h3
            color: #fff
            width: 70%
            margin: 0 auto
            @include adaptiv-font(20, 16)
            @media  (max-width: 769px)
                width: 100%

        .token-info
            margin-top: 4%
            display: flex
            // width: 60%
            justify-content: center
            

            .token-img
                width: 40%
                object-fit: contain
                object-position: center

                img
                    // height: 90%
                    max-width: 100%
                @media  (max-width: 500px)
                    position: absolute
                    left: 0%
                    z-index: 0
                    top: 45%
                    transform: translate(-50% , 0%)
                    width: 75%
                    opacity: 0.6

            .text
                width: 60%
                padding-left: 5%
                z-index: 6
                @media  (max-width: 500px)
                    width: 80%

                h3
                    width:100%
                    color: orange
                    text-align: right
                    margin: 3% 0 3% 0

                    span
                        color: #fff


                .address
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap

                .h3:hover
                    white-space: normal

        .info-web
            margin-top: 10%
            
            a
                border: 1px solid rgba(1,1 ,1 ,0 )
                transition: border-color 1s ease
                border-radius: 10px
                cursor: pointer
                
            h3
                color: #fff
                transition: color 0.8s ease


            .first
                display: flex
                justify-content: space-between
                a
                    width: 40%
                    padding: 0px 1% 0px 1%
                    h3
                        text-align: center
                        color: #fff

            .sec
                margin-top: 5%
                display: flex
                justify-content: space-between

                a
                    width: 40%
                    padding: 0px 1% 0px 1%
                    h3
                        text-align: center
                        color: #fff
            
            a:hover
             
           
                border: 1px solid #ff8800
                h3
                    color: #ff8800
               
.team
          

    margin-top: 0

    .members
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

        .first-row
            
            display: flex
            justify-content: space-around
            width: 100%
            @media (max-width: 500px)
                justify-content: space-around
            

        .mobile-row
            margin: 3% 0 3% 0
            width: 50%
            display: flex
            justify-content: space-around

            @media (min-width: 500px)
                display: none

        .second-row
            width: 80%
            display: flex
            justify-content: space-around

            @media (max-width: 500px)
                width: 100%
        

        .member
            
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            padding-bottom: 0%

            .member-img
                width: 100%
                height: 85%
                display: inline-flex
                justify-content: center

                img
                    object-fit: contain
                    max-width: 100%

            .text
                height: 15%
                position: absolute
                max-width: 100%
                bottom: 0
                display: flex
                flex-direction: column
                justify-content: center

                span
                    width: 100%
                    @include adaptiv-font(26, 17)
                    font-family: "Avenger"
                    color: rgb(255, 255, 255)
                    line-height: 0.583
                    text-align: center
                    letter-spacing: 1.1px

                h4
                    margin: 0
                    margin-top: 3%
                    font-size: 16px
                    font-family: "Akrobat"
                    color: rgba(255, 255, 255, 0.8)
                    line-height: 1.167
                    font-weight: 100
                    text-align: center
    
     

        .red
            filter: drop-shadow(0px 0px 110px rgba(255, 0, 0, 0.5))

        .pink
            filter: drop-shadow(0px 0px 110px rgba(255, 0, 195, 0.5))

        .blue
            filter: drop-shadow(0px 0px 110px rgba(0, 162, 255, 0.5))

        .orange
            filter: drop-shadow(0px 0px 110px rgba(255, 153, 0, 0.5))

        .yellow
            filter: drop-shadow(0px 0px 110px rgba(255, 255, 0, 0.5))
        
        .mobile
            @media (max-width: 500px)
                    display: none

    h1
        text-align: center
        font-family: "Gepestev"
        color: rgb(255, 255, 255)
        
        font-weight: 600
        margin-bottom: 8%
        margin-top: 10%

.roadmap
    
    padding-top: 4rem
    margin: auto

    h1
        text-align: center
        @include adaptiv-font(48, 26)
        font-family: "Gepestev"
        color: rgb(255, 255, 255)
        
        font-weight: 600
        margin-bottom: 10%

    .container
        width: 90%
        margin: 0 auto
        max-width: 1200px
        @media (max-width: 600px)
            max-width: 80vw

    details
        width: 100%
        transition: all 1s  easy-in-out
        border-radius: 10px
        border: 2px solid rgba(1,1 ,1 ,0 )
        transition: border-color 1s ease
       

        summary
            width: 100%
            transition: border-color 1s ease

            .summary
                border-radius: 10px
                transition: all 1s 

                padding: 1.6% 0px 1.6% 0px
                display: flex
                align-items: center
                width: 100%
                background-color: #562d6c

                div
                    display: flex
                    width: 20%
                    flex-direction: column
                    padding-left: 2%

                    h3
                        margin: 0
                        letter-spacing: 0.7px
                        font-size: 25px
                        @include adaptiv-font(25, 16)
                        font-family: "Akrobat"
                        color: rgb(255, 255, 255)
                        text-align: left
                        font-weight: 600
                        white-space: nowrap

                    span
                        
                        letter-spacing: 0.7px
                        font-size: 15px
                        font-family: "Akrobat"
                        color: rgb(255, 255, 255)
                        text-align: left
                        font-weight: 600
                        @media (max-width: 500px)
                            display: none

                    

                img
          
                    height: 50%
                    max-width: 100%
                    padding-left: 3%

                    @media (max-width: 500px)
                        width: 12%
                       
                        

  

    details[open] summary ~ * 
        animation: open .5s ease-in-out
        


    details[close] summary ~ * 
        animation: close .5s ease-in-out

    details:hover[open]
       border-radius: 10px
       border: 1px solid orange

    details:hover:not([open])
        border-radius: 10px
        border: 2px solid orange

    details:hover:not([open]) summary:after 
        color: orange
        padding: 20px
        @media (max-width: 500px)
            padding: 0px
            padding-right: 20px

    @keyframes open 
        0% 
            opacity: 0 
            margin-left: -20px
        100% 
            opacity: 1 
            margin-left: 0px


    @keyframes close 
        0% 
            opacity: 1 
            margin-left: 0px
        100% 
            opacity: 0 
            margin-left: -20px

    
    details summary::-webkit-details-marker 
        display: none
    

    details summary 
        width: 100%
        position: relative
        cursor: pointer
        list-style: none
        h2
            margin: 0
    

    details summary:after 
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50.5px' height='26.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(254, 254, 254)' stroke-width='3px' stroke-linecap='butt' stroke-linejoin='miter' opacity='0.502' fill='none' d='M2.578,1.490 L46.432,1.490 C50.352,1.490 42.757,10.233 35.027,15.889 L25.744,22.681 C25.071,23.173 24.592,23.500 24.550,23.500 L24.150,23.500 C24.108,23.500 23.633,23.173 22.967,22.681 L13.780,15.889 C6.075,10.193 -1.324,1.490 2.578,1.490 Z'/%3E%3C/svg%3E")
        transform: scale(0.65) translateY(-75%) rotate(-90deg) 
        color: white
        position: absolute
        top: 50%
        right: 1%
        transition: 200ms linear

        @media (max-width: 500px)
            right: 0%
            top: 5%
            transform: scale(0.30)  rotate(-90deg)  translateY(100%) translateX(24%)

    details[open] summary:after 
        transform: scale(0.55) translateY(-75%) translateX(-60%)
        right: 0%

        @media (max-width: 500px)
            top: 5%
            right: 0%
            transform: scale(0.30) translateX(40%) 

        
    details[open] summary
        .summary
            border-bottom-left-radius: 0px
            border-bottom-right-radius: 0px
    
    details summary 
        outline: 0
    
    details ul
        background-color: #562d6c

        width: 100%

        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        padding: 10px 0px 10px 0
        
        margin: 0 
        
        li
            color: #fff
            margin: 0
            margin-left: 8%
            letter-spacing: 0.7px
            @include adaptiv-font(16, 10)
            font-family: "Akrobat"
            color: rgb(255, 255, 255)
            text-align: left
            font-weight: 600
    
    details
        margin-top: 2%
        
.partners
    margin-top: 10%

    .container

        h1
            text-align: center
            @include adaptiv-font(48, 23)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            
            font-weight: 600
            margin-bottom: 5%

        h3
            font-family: "Gepestev"

        img
            max-width: 100%
            display: block
            width: 70%
            margin: 0 auto

.special
    margin-top: 10%
    
    .container
        position: relative
        max-width: 1300px
        margin: 0 auto

        h1
            text-align: center
            @include adaptiv-font(48, 23)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)

            font-weight: bolder
            margin-bottom: 5%
            letter-spacing: 1.5px

        h3
            width: 50%
            letter-spacing: 0.7px
            @include adaptiv-font(16, 16)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            text-align: center
            font-weight: 300
            margin-bottom: 5%
            line-height: 1.5
            margin: 0 auto
            @media ( max-width: 800px)
                width: 80%
        .bg
            position: absolute
            max-width: 100%
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: -1

        .cards
            display: flex
            justify-content: space-around
            
            .gotchie_special
                z-index: 3
                box-shadow: 0 0 111px 10px rgba(255, 217, 0, 0.31)
                padding: 4px 4px
                background-color: rgba(0, 0, 0, 0.24)
                border-radius: 15px
                margin-top: 40px
                padding-bottom: 10px
                width: 25%

                @media ( max-width: 800px)
                    width: 30%
                @media ( max-width: 500px)
                    width: 50%

                img
                    width: 100%
                    position: relative
                    object-fit: cover
                    object-position: center
                    
                .description
                    padding: 5% 0 5% 0
                    h3
                        width: 100%
                        letter-spacing: 0.7px
                        @include adaptiv-font(16, 12)
                        font-family: "Gepestev"
                        color: rgb(255, 255, 255)
                        text-align: center
                        font-weight: 300
                        margin-bottom: 5%
                        line-height: 1.5
                        margin: 0 auto

.sales
    margin-top: 10%
    


    background-image: url("./../../assets/main/soming-soon-line.png") 
    background-repeat: repeat-x
    background-position: 50% 50%

    .container
        h1
            text-align: center
            @include adaptiv-font(48, 23)
            font-family: "Gepestev"
            color: rgb(255, 255, 255)
            
            font-weight: 600
            margin-bottom: 5%
        img
            max-width: 100%

footer

    margin-top: 10%
    .container
        width: 90%
        margin: 0 auto


    width: 100%
    h3, h4
        color: #fff
        font-family: "Gepestev"

    h3
        text-align: center
        @include adaptiv-font(18, 16)
        
    .copyrights
        margin-bottom: 0
        opacity: 0.9

    h4
        opacity: 0.85
        @include adaptiv-font(16, 13)
    
    a
        cursor: pointer

    a:hover
        h4
            text-decoration: underline

    .sections
        width: 70%
        display: flex

        justify-content: space-between
        margin: 0 auto

        @media  (max-width: 700px)
            flex-direction: column
            width: 100%

        .social
            h3
                white-space: nowrap

            width: 20%

            .discord-mobile
                display: none

            @media  (max-width: 700px)
                h3
                    text-align: left
                display: flex
                flex-direction: column
                width: 100%
                .discord-mobile
                    display: block

            .first
                display: flex
        
                justify-content: center

                a
                    width: 25%
                    object-fit: cover
           
                

                    img

                        max-width: 100%

                .telegram
                    object-position: right
                    
                    img
                        display: block
                        margin-left: auto

                    @media  (max-width: 700px)
                        img
                            margin: 0 

                 


                @media  (max-width: 1000px) and (min-width: 701px)

                    flex-direction: column
                    align-items: center
                    a
                        width: 35%
                        margin-bottom: 4%

                @media  (max-width: 700px)
                    display: flex
                    width: 30%
                    margin-left: 0%
                    flex-direction: row
                    justify-content: normal
                    align-items: center
                 
             
                    a
                        width: auto
                        padding: 0 5% 0 5%

                @media  (max-width: 500px)
                    width: 40%
                          

            .discord

                display: block
                margin: 0 auto
                width: 25%
                object-fit: contain

                @media  (max-width: 1000px) and (min-width: 701px)
                        width: 35%

                @media  (max-width: 700px)
                    display: none 
                        
                            





        .invest, .game, .docs
            width: 20%
            @media  (max-width: 700px)
                display: flex
                width: auto
                h3
                    padding-right: 5%
                
            @media  (max-width: 500px)
                flex-direction: column
                h4
                    margin-top: 0
                    margin-bottom: 0
  
                

            h3
                text-align: left

            .links
                
                margin-top: 10px
                h4
                    font-weight: 100

                @media  (max-width: 700px)
                    display: flex
                    column-gap: 9%
                    margin-top: 0px
                    
                    
        .docs
            @media  (max-width: 700px)
                
                h4
                    white-space: nowrap
                h3
                    padding-right: 6.5%

        .invest
            @media  (max-width: 700px)
            
                h3
                    padding-right: 4%