.video_title
    margin-top: 300px
    margin-bottom: 100px
    overflow: hidden
    
    .container
        max-width: 1200px
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        .video_handler
            width: 60%
            align-items: center
            
        img
            max-width: 100%

        h2
            width: 90%
            font-family: Akrobat
            font-size: 38px
            font-weight: bold
            font-stretch: normal
            font-style: normal
            line-height: 0.85
            letter-spacing: normal
            margin: 0px
            margin-bottom: 35px
            color: white
            text-align: center

        h3
            width: 86%
            margin: 0px
            margin-bottom: 40px
            font-family: Akrobat
            font-size: 26px
            font-weight: normal
            font-stretch: normal
            font-style: normal
            line-height: 1.39
            letter-spacing: normal
            text-align: center
            color: white


        

.gotchies

    margin-top: 100px
    margin-bottom: 100px
    position: relative

    .gotchies_island1, .gotchies_island2

        position: absolute
        z-index: 1
        width: 50%
        height: 100%
        object-fit: cover
        display: inline-flex


        img
            margin: auto 0
            max-width: 100%

    
    .gotchies_island1
        left: -25%


    .gotchies_island2
        right: -25%


    .container
        
        margin: 0 auto
        position: relative
        max-width: 1200px
        align-items: center

        // .gotchies_island1, .gotchies_island2
        //     position: absolute
        //     z-index: 1
        //     width: 50%
        //     height: auto

        // .gotchies_island1
        //     left: -50%

        // .gotchies_island2
        //     right: -50%

        .gotchies_smoke
            position: absolute
            top: 30%
            right: -40%
            width: 100%
            opacity: 0.4
            z-index: 0
            object-fit: cover
            img
                max-width: 100%

        h2
            margin: 0px
            margin-bottom: 45px
            font-family: Akrobat
            font-size: 50px
            font-weight: 900
            font-stretch: normal
            font-style: normal
            line-height: 1.39
            letter-spacing: normal
            text-align: center
            color: white

        .cards
            
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            
            margin-right: 0px

        .second_cards
            margin-top: 50px
            
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            

.avatars
    .container
        max-width: 1200px
        display: flex
        justify-content: space-around
        margin: 0 auto

        .screen_img
            object-fit: cover
            width: 30%
            margin: auto 0
            object-position: center

            img
                max-width: 100%

        .text
            margin: auto 0
            padding-bottom: 10%
            width: 50%
            display: flex
            flex-direction: column
            justify-content: right
            text-align: right
            color: #fff
            height: fit-content




            h2
                font-family: Akrobat
                font-size: 38px
                font-weight: 1100
            h3
                font-family: Akrobat
                font-size: 20px
                font-weight: 600
                margin: 0px 0 20px 0


            button
                margin-left: auto
                margin-right: 0
                max-width: 200px
                text-align: center
                border-radius: 10px 
                box-shadow: 0 0 3.4px 0.6px rgba(0, 0, 0, 0.41)
                outline: none
                border: 0
                font-family: Akrobat
                font-size: 18px
                font-weight: 1100
                font-stretch: normal
                font-style: normal
                vertical-align: top
                line-height: 26px
                letter-spacing: normal
                color: #fffeff

                padding: 0px 15px 26px 15px
                height: 0px
                background-image: linear-gradient(to right, #f11aad, #d46013)


.features
    margin-top: 150px
    margin-bottom: 150px
    .container
        max-width: 1200px
        margin: 0 auto
        align-items: center
        font-family: Akrobat
        text-align: center
        color: #fff

        h2
            font-size: 27.3px
            font-weight: 900
            line-height: 1.26


        .cards
            width: 100%
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            margin-top: 90px

            .card
                margin-top: 15px
                width: 25%
                padding: 0 30px

                .logo_img
                    width: 20%
                    margin: 0 auto
                    object-fit: cover

                    img
                        max-width: 100%
                
                h3
                    text-align: left
                h4

                    text-align: left
                    font-weight: 100
